@import 'config'
@import 'tokens'
@import 'colors'
@import 'components/color-shortcuts'
@import 'typography'
@import 'icons'
@import 'buttons'
@import 'links'
@import 'base'

@import 'components/intro'
@import 'components/faq'
@import 'components/footer'
@import 'components/machine'
@import 'components/outputs'
@import 'components/wizard'
@import 'components/recording'
@import 'components/add-class'
@import 'components/appearance'
@import 'components/pwa'
@import 'components/now-playing'


.wrapper {
  overflow-x: hidden
}