// Add the short variables for new colors at the end of the file
$green = $color__class-green--primary
$purple = $color__class-purple--primary
$orange = $color__class-orange--primary
$red = $color__class-red--primary
$blue = $color__class-blue--primary
$yellow = $color__class-yellow--primary
$teal = $color__class-teal--primary
